<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Busy Bee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div>
        <nav>
            <a href="">Busy Bee</a>
            <ul class="right">
                <li>
                    <a href="/logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </div>