<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Busy Bee</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div>
        <nav>
            <span class="right">
                    <a id="logout" href="/logout">log out</a>
            </span><br>
            <a href="/jobs">the busy bee</a><br>
            <a id="subheading">the job tracker app that's causing a buzz!</a>
        </nav>
    </div>
    <h2 id="title">
        <%= title %>
    </h2>