<!DOCTYPE html>
<html>

<head>
    <title>The Busy Bee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/homestyle.css" />
    </head>

<body>
  <div class="login">
    <h2 id="name">the busy bee</h2>
    <h6>thanks for trying out our app!</h6>
    <br><br>
    <a class="login-link" href="/auth/google">log back in</a>

  </div>

</body>
</html>