<%- include('partials/header') %>
<div id="resources-container">
        <h3>resume tips:</h3>
        <div>
            <ul>
                <li>
                    <a href="https://careeralley.com/6-great-resume-resources/">career alley</a>
                </li>
                <li>
                    <a href="https://www.themuse.com/advice/43-resume-tips-that-will-help-you-get-hired">the muse</a>
                </li>
                <li>
                    <a href="https://www.thebalancecareers.com/top-resume-writing-tips-2063314">the balance</a>
                </li>
                <li>
                    <a href="https://medium.com/office-hours/how-to-format-a-startup-resume-91f0c3f77521">medium</a>
                </li>
            </ul>
        </div>
        <h3>interview tips:</h3>
        <div>
            <ul>
                <li>
                    <a href="https://www.roberthalf.co.nz/career-advice/interview">robert half</a>
                </li>
                <li>
                    <a href="https://ca.indeed.com/career-advice/interviewing/interview-tips">indeed</a>
                </li>
                <li>
                    <a href="https://www.forbes.com/sites/jonyoushaei/2014/10/20/12-surprising-job-interview-tips/?sh=379a474450f4">forbes</a>
                </li>
                <li>
                    <a href="https://www.themuse.com/advice/the-ultimate-interview-guide-30-prep-tips-for-job-interview-success">the muse</a>
                </li>
                <li>
                    <a href="https://www.themuse.com/advice/13-startup-founders-share-how-to-nail-your-next-interview">the muse II</a>
                </li>
                <li>
                    <a href="https://medium.com/career-relaunch/the-definitive-guide-to-interviewing-for-a-startup-what-i-learned-after-screening-42-candidates-6ad21a204daa">medium</a>
                </li>
            </ul>
        </div>
</div>
<%- include('partials/footer') %>
