<%- include('partials/header') %>
<div id="resources-container">
        <h3>here are a list of resources you can check out:</h3>
        <div>
            <ul>
                <li>
                    resource 1
                </li>
                <li>
                    resource 2
                </li>
            </ul>
        </div>
</div>
<%- include('partials/footer') %>
