@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Life+Savers:wght@400;800&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  background-image: url("../images/background6.gif");
  background-repeat:no-repeat; 
  background-size: auto;
  padding: 50px;
  font-size: 14px;
  font-family: 'Lora', cursive;
  text-align: center;
  color: black
}

#title {
  font-family: 'Lora', cursive;
  font-weight: 800;
  display: inline;
  margin: 10px auto 0px auto;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  background-color: black;
  color:rgb(255, 205, 5);
  border-radius: 15px;
  text-transform: lowercase;
  text-align: left;
}

#title span {
  float: right;
}

nav {
  background-color: rgb(255, 205, 5);
  font-family: 'Homemade Apple', cursive;
  padding: 10px 10px 10px 15px;
  border-radius: 15px;
}

nav a {
  text-decoration: none;
  color:black;
  font-size: 30px;
}

.logout {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  padding: 5px 15px 0 0;
}

.logout a {
  font-size: 16px;
}

#subheading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}


#job-list {
  background-color: rgb(255, 205, 5);
  font-size: 18px;
  margin: 20px 0 0 0;
  padding: 20px 40px 40px 40px;
  border-radius: 15px;
  text-align: center;
  list-style-image: url('../images/bee-icon-shrunk.png');
}

#job-list-buttons {
  float: right;
}

#job-list-buttons span {
  display: inline-flex;
}

table {
  width: 100%;
}

th {
  background-color: black;
  color:rgb(255, 205, 5);
  padding: 10px;
  border-radius: 15px;
}

tbody {
  font-size: 16px;
}

tr:nth-child(2n+1) {
  background-color: rgb(255, 174, 0);
}

.add-job {
  float: right;
}

#job-list a {
  font-size: 16px;
  color: black;
}

#sort-button {
  background-color: black;
  color: rgb(255,205,5);
  margin: 0 auto;
  border-color: rgb(255,205,5);
}

#sort-options {
  background-color: black;
  border-color: black;
  color: rgb(255, 205, 5);
  font-size: 14px;
  font-family: 'Lora', cursive;
}

#sort-tablehead {
  width: 50px;
  font-size: 14px;
}

#sort-submit {
  background-color: black;
  color: rgb(255, 205, 5);
  font-family: 'Lora';
  border: 1px solid rgb(255, 205, 5);
  font-size: 12px;
}

#sort-submit:hover {
  color: black;
}

button:hover {
  cursor: pointer;
  background-color: rgb(202, 202, 202);
  background-image: linear-gradient(white, rgb(202, 202, 202));
}

#input-form-container {
  background-color: rgb(255, 205, 5);
  text-align: center;
  margin: 20px 200px 0 200px;
  padding: 20px 40px 40px 40px;
  border-radius: 15px;
}

#input-form {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  display: block;
  font-size: 20px;
}

#input-form form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#required {
  font-size: 12px;
  float: left;
  margin-left: 40px
}

#required span {
  font-style: italic;
}

label, input, textarea {
  display: inline-block;
  font-family: 'Lora', cursive;
}

input, textarea {
  border: 2px solid rgb(197, 158, 1);
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
}

input:hover {
  background-color: rgb(230, 230, 230);
}

textarea {
  vertical-align: text-top;
  text-align: left;
}

textarea:hover {
  background-color: rgb(230, 230, 230);
}

#job-show-container {
  background-color: rgb(255, 205, 5);
  text-align: center;
  margin: 20px 100px 0 100px;
  padding: 20px 40px 40px 40px;
  border-radius: 15px;
}

#job-show {
  text-align: left;
  margin-top: 30px;
  font-size: 20px;
  display: block;
}

hr {
  border: 1px solid black;
}

#job-show div {
  margin-bottom: 8px;
}

#job-show .update-form {
  margin-bottom: 0px;
  margin-top: 4px;
}

.input-button {
  font-size: 14px;
  font-family: 'Lora', cursive;
  font-weight: 800;
  padding: 8px 10px 8px 10px;
  border-radius: 15px;
  border: 2px solid rgb(197, 158, 1);
  text-align: center;
  background-color: rgb(240, 240, 240);
  color: black;
}

#delete-form {
  text-align: center;
}

#delete-button:hover {
  background-color: rgb(219, 0, 0);
  color: rgb(255, 205, 5);
  background-image: linear-gradient(red, rgb(182, 0, 0));
}

#job-show-container input, button {
  border: 2px solid rgb(197, 158, 1);
  border-radius: 15px;
  margin-left: 10px;
}

#log-entry {
  font-family: 'Lora', cursive;
  font-weight: 800;
  display: inline;
  margin: 10px auto 0px auto;
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color:rgb(255, 205, 5);
  border-radius: 15px;
}

#edit-form-container {
  background-color: rgb(255, 205, 5);
  text-align: center;
  margin: 20px 200px 0 200px;
  padding: 20px 40px 40px 40px;
  border-radius: 15px;
}

#edit-form {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  display: block;
}

#edit-form form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.stage-selector {
  padding: 10px;
  font-family: 'Lora', cursive;
  border-radius: 15px;
}

.interview-log, #interview-log-form {
  font-size: 16px;
}

.confetti {
  position: fixed;
  display: block;
  width: 100%;
}

#hired-page-container {
  background-color: rgb(255, 205, 5);
  text-align: center;
  margin: 20px 200px 0 200px;
  padding: 20px 40px 40px 40px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#hired-page-container span {
  font-family: 'Homemade Apple', cursive;
}

#footer {
  background-color: rgb(255, 205, 5);
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#footer a {
  font-size: 11px;
  text-decoration: none;
  color: black
}

#resources-container {
  background-color: rgb(255, 205, 5);
  text-align: left;
  margin: 20px 200px 0 200px;
  padding: 20px 40px 40px 40px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

