@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Life+Savers:wght@400;800&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

body {
  background-image: url("../images/background6.gif");
  background-repeat: repeat; 
  background-size: cover;
  padding: 50px;
  font-size: 14px;
  font-family: 'Pompiere', cursive;
  text-align: center;
  color: black
}

#title {
  font-family: 'Life Savers', cursive;
  font-weight: 800;
  display: inline;
  margin: 10px auto 0px auto;
  padding: 10px;
  font-size: 20px;
  background-color: black;
  color:rgb(255, 205, 5);
  border-radius: 15px;
}

nav {
  background-color: rgb(255, 205, 5);
  font-family: 'Homemade Apple', cursive;
  padding: 10px 10px 10px 15px;
  border-radius: 15px;
}

#logout {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  padding: 5px 15px 0 0;
  font-size: 16px;
}

#subheading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

nav a {
  text-decoration: none;
  color:black;
  font-size: 30px;
}

#add-job {
  float: right;

}

#job-list {
  background-color: rgb(255, 205, 5);
  font-size: 30px;
  margin: 20px 100px 0 100px;
  padding: 20px 40px 40px 40px;
  border-radius: 15px;
  text-align: center;
  list-style-image: url('../images/bee-icon-shrunk.png');
}

#job-list ul {
  text-align: left;

}

.add-job {
  float: right;
}

#job-list a {
  font-size: 12px;
  color: black;
}

#current-stage {
  font-style: italic;
}

#add-job {
  font-size: 18px;
  font-family: 'Pompiere', cursive;
  font-weight: 800;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid rgb(197, 158, 1);
  text-align: center;
}

#add-job:hover {
  cursor: pointer;
}

#input-form-container {
  background-color: rgb(255, 205, 5);
  text-align: center;
  margin: 20px 300px 0 300px;
  padding: 20px 40px 40px 40px;
  border-radius: 15px;
}

#input-form {
  text-align: left;
  margin-top: 30px;
  font-size: 30px;
  display: block;
  font-size: 30px;
}

label, input {
  display: inline-block;
  text-align: left;
}

input {
  border: 2px solid rgb(197, 158, 1);
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
}

#job-show-container {
  background-color: rgb(255, 205, 5);
  text-align: center;
  margin: 20px 300px 0 300px;
  padding: 20px 40px 40px 40px;
  border-radius: 15px;
}

#job-show {
  text-align: left;
  margin-top: 30px;
  font-size: 30px;
  display: block;
}

.input-button {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.input-button:hover {
  cursor: pointer
}

#job-show-container input, button {
  border: 2px solid rgb(197, 158, 1);
  border-radius: 15px;
  margin-left: 10px;
}

#edit-form-container {
  background-color: rgb(255, 205, 5);
  text-align: center;
  margin: 20px 300px 0 300px;
  padding: 20px 40px 40px 40px;
  border-radius: 15px;
}

#edit-form {
  text-align: left;
  margin-top: 30px;
  font-size: 30px;
  display: block;
}

.stage-selector {
  padding: 10px;
  border-radius: 15px;
}