<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Busy Bee</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="confetti.js"></script>
</head>

<body>
    <div>
        <img src="/images/confetti.gif" class="confetti">
        <img src="/images/confetti5.gif" class="confetti" style="z-index: -1;">
        <nav style="position: relative; z-index: 2;">
            <span class="right">
                    <a id="logout" href="/logout">log out</a>
            </span><br>
            <a href="/jobs">the busy bee</a><br>
            <a id="subheading">the job tracker app that's causing a buzz!</a>
        </nav>
    </div>

<div id="hired-page-container">
    <h2><span>congratulations!</span></h2>
    that's amazing news. good luck with your new role!<br><br>
    
    we hope we were able to help you in your job hunting journey.<br><br>

    your account will still be up if you ever need to revisit <span>busy bee</span> again. <br><br>
    
    if you know anyone looking for a new role, please share our app with them ♥️
</div>
<%- include('../partials/footer') %>
