<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Busy Bee</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="confetti.js"></script>
</head>

<body>
    <div>
        <nav>
            <span class="right">
                    <a id="logout" href="/logout">log out</a>
            </span><br>
            <a href="/jobs">the busy bee</a><br>
            <a id="subheading">the job tracker app that's causing a buzz!</a>
        </nav>
    </div>

<!-- <% startConfetti(); %> -->

Hired!!!

<%- include('../partials/footer') %>
