<%- include('../partials/header') %>
    <div id="input-form-container">
        <h2 id="title">
            <%= title %>
        </h2>
        <div id="input-form">
            <form action="/jobs" method="POST">
                <label><strong>role name: </strong></label>
                <input type="string" name="role" maxlength=35 required>
                <br>
                <label><strong>company: </strong></label>
                <input type="string" name="company" maxlength=25 required>
                <br>
                <label><strong>current stage: </strong></label>
                <select name="currentStage" class="stage-selector">
                    <option value="just getting started ★☆☆☆☆">just getting started</option>
                    <option value="midway ★★★☆☆">midway</option>
                    <option value="almost there ★★★★☆">almost there</option>
                    <option value="done! ★★★★★">done!</option>
                    <option value="on hold">on hold</option>
                </select>
                <br>
                <label><strong>link to job description: </strong></label>
                <input type="string" name="link">
                <br>
                <label><strong>notes: </strong></label>
                <textarea type="string" name="generalNotes" rows="8" cols="40"
                    placeholder="here you can keep track of how you're feeling, the people you've spoken to, their contact information, anything you need to know!"></textarea>
                <br><br>
                <button type="submit" class="input-button">save job</button>
            </form>
            <form action="/jobs" method="GET">
                <button type="submit" class="input-button">cancel</button>
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>