<%- include('../partials/header') %>
    <form action="/jobs" method="POST">
        <label>Role name
            <input type="string" name="role">
        </label><br>
        <label>Company
            <input type="string" name="company">
        </label><br>
        <input class="input-button" type="submit" value="Add job">
    </form>

<%- include('../partials/footer') %>