<%- include('../partials/header') %>
    <div id="input-form-container">
        <h2 id="title">
            <%= title %>
        </h2>
        <div id="input-form">
            <form action="/jobs" method="POST">
                <label><strong>role name: </strong></label>
                <input type="string" name="role" maxlength=35 required>
                <br>
                <label><strong>company: </strong></label>
                <input type="string" name="company" maxlength=25 required>
                <br>
                <label><strong>current stage: </strong></label>
                <select name="currentStage" class="stage-selector">
                    <option value="1. applied ★☆☆☆☆">applied</option>
                    <option value="2. just getting started ★★☆☆☆">just getting started</option>
                    <option value="3. midway ★★★☆☆">midway</option>
                    <option value="4. almost there ★★★★☆">almost there</option>
                    <option value="5. done! ★★★★★">done!</option>
                    <option value="6. on hold">on hold</option>
                </select>
                <br>
                <label><strong>link to job description: </strong></label>
                <input type="string" name="link">
                <br><br>
                <button type="submit" class="input-button">save job</button>
            </form>
            <form action="/jobs" method="GET">
                <button type="submit" class="input-button">cancel</button>
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>