<%- include('../partials/header') %>
<section>
    <div>
        <span class="jobs-show">Role:</span>
        <%= job.role %>
    </div>
    <br>
    <div>
        <span class="jobs-show">Company:</span>
        <%= job.company %>
    </div>
    <br>
</section>
<%- include('../partials/footer') %>
